*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
}

body{
    position:relative;
}

/**=====================GLOBALS==============**/

.logo {
    display: flex;
  }

  .translate-0{
    transform: translateX(0) !important;
  }

  .visible{
    visibility: visible !important;
    opacity: 1 !important;
  }

  .btn_gral{
    background-color: #1573B9;
    color:white;
    font-size:12px;
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
    border:none;
    outline:none;
    cursor: pointer;
    transition:all 0.3s ease;
  }
  .btn_gral:hover{
    background-color: #FA6C2C;
  }

/**MODAL**/

.modal{
    background-color: rgba(0,0,0,0.85);
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.modal > div{
    background-color: white;
    padding:30px;
    border-radius: 16px;
    width:700px;
    position:relative;
}

.modal h3{
    text-align: center;
    color:#1573B9;
    text-transform: uppercase;
    font-size:25px;
}

.modal ul li{
    list-style: none;
    margin:25px 0;
    font-style: italic;
}

.modal ul li:last-child{
    margin-bottom:0;
}

.modal ul li b{
    color: #1573B9;
    font-style: normal;
    font-size:17px;
}

.close-modal{
    position: absolute;
    top:0;
    right: 0;
    margin:20px 20px 0 0;
    font-size:22px;
    cursor: pointer;
}

/**==================HEADER==============**/

.site-header-home{
    background-color: #60CDD0;
    padding:30px 60px;
    text-align: center;
    display:flex;
    justify-content: center;
}

.site-header-app{
    padding:30px 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #60CDD0;
}

.icon-burger{
    color: #FA6C2C;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.icon-burger:hover{
    color: #1573B9;
}

/**DRAWER**/

.drawer{
    position:fixed;
    top:0;
    right: 0;
    background-color: #FA6C2C;
    height: 100vh;
    width:400px;
    border-left: 5px solid #1573B9;
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 10000;
}

.drawer ul {
    list-style: none;
    max-height: 95%;
    overflow: auto;
}

.drawer ul li a{
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding:30px;
    font-size:22px;
    text-align: center;
    cursor:pointer;
    display:block;
    width:100%;
    transition: all 0.3s ease;
    color:white;
}
.drawer ul li:first-child{
    margin-top:80px;
}

.drawer ul li:hover{
    background-color: #004478;
    font-style: italic;
}

.close-drawer{
    position:absolute;
    top:0;
    right:0;
    margin: 30px 30px 0 0;
    color:white;
    font-size:25px;
    cursor: pointer;
}

/**==================MAIN==============**/

/**HOME**/

.main-login{
    /* background-color: #FA6C2C; */
    height: 76.5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 238);
}

.main-login > div{
    width:500px;
    text-align: center;
}

.main-login h2{
    margin-bottom:20px;
    text-transform: uppercase;
    color:#1573B9;
}

.main-login h3{
    color: #1573B9;
    text-transform: uppercase;
}

.form-login{
    background-color: white;
    border: 3px solid #60CDD0;
    box-shadow: 0 0 10px #60CDD0;
    padding:30px;
    border-radius: 32px;
}

.form-login input{
    display:block;
    width:100%;
    padding:10px;
    margin-top: 20px;
    border:none;
    outline:none;
    border-bottom:3px solid #1573B9;
    font-size:17px;
    background: linear-gradient() ;
    color: #1573B9;
}

.form-login input:last-of-type{
    border:none;
    background-color: #1573B9;
    color:white;
    margin-top:35px;
    text-transform: uppercase;
    cursor:pointer;
    transition: all 0.2s ease
}

.form-login input:last-of-type:hover{
    background-color: #004478;
}

.loader{
    color: #1573B9;
    font-weight: bold;
    font-style: italic;
    font-size:20px;
}

/**PENDING**/

.main-pending{
    min-height: 74.8vh;
    max-width: 95%;
    margin:0 auto;
}

.main-pending h2{
    font-size:32px;
    margin-top:50px;
}

.total_registers{
    margin:25px 0;
    font-size:17px;
    font-weight: bold;
    color:#1573B9;
}

.total_registers span{
    color: #FA6C2C;
}

.main-pendings_titles{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    border-bottom:3px solid #1573B9;
}

.main-pendings_titles h3, .main-pendings_titles div{
    color:#1573B9;
    font-size:17px;
    font-weight: bold;
}

.main-pendings_registers{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
    border-bottom:2px solid #FA6C2C;
}

.main-pendings_registers:last-of-type{
    border-bottom: none !important;
    margin-bottom:100px !important;
}

.main-pendings_registers_userData,.main-pendings_titles_user{
    flex-basis: calc(10% - 3px);
    text-align: center;
}

.main-pendings_registers_userData img{
    width:100%;
    height: 100%;
    border-radius: 100%;
}

.main-pendings_registers_userData button{
    display:block;
    margin:0 auto;
    margin-top:10px;
}

.main-pendings_registers_userSale, .main-pendings_titles_userSale{
    flex-basis: calc(20% - 3px);
    text-align: center;
}

.main-pendings_registers_userSale {
    overflow-wrap: break-word; /* Permite dividir la palabra en líneas */
    word-break: break-all; 
}

.main-pendings_registers_shoeData, .main-pendings_titles_item{
    flex-basis: calc(25% - 3px);
    text-align: center;
}

.main-pendings_titles_item{
    text-align: center;
}

.main-pendings_registers_shoeData h4{
    text-transform: uppercase;
    color: #222;
    font-size:17px;
}

.main-pendings_registers_shoeData > div{
    display:flex;
    align-items: center;
    margin:13px 0;
    justify-content: space-evenly;
}

.main-pendings_registers_shoeData > div h5{
    color:grey;
    font-size:13px;
    margin-right: 30px;
    font-weight: lighter;
}
.main-pendings_registers_shoeData > div h5:last-child{
    margin-right: 0;
}

.main-pendings_registers_offer, .main-pendings_titles_offer{
    flex-basis: calc(10% - 3px);
    text-align: center;
}

.main-pendings_registers_offer{
    color:#FA6C2C;
    font-size:20px;
}

.main-pendings_registers_date, .main-pendings_titles_date{
    flex-basis: calc(15% - 3px);
    text-align: center;
}

.main-pendings_registers_date{
    font-size:14px;
    font-weight: normal;
    font-style: italic;
}

.main-pendings_registers_btnAccept, .main-pendings_registers_btnDenied, .main-pendings_titles_accept,.main-pendings_titles_denied{
    flex-basis: calc(7.5% - 3px);
    text-align: center;
}

.main-pendings_registers_btnAccept, .main-pendings_registers_btnDenied{
    padding:10px;
    background-color: green;
    color:white;
    border:none;
    outline:none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.main-pendings_registers_btnDenied{
    background-color:rgb(185, 0, 0)
}

.main-pendings_registers_btnAccept:hover{
    background-color: rgb(0, 173, 0);
}

.main-pendings_registers_btnDenied:hover{
    background-color: rgb(232, 0, 0);
}

.main-pendings_register_btnDenied_responsive, .main-pendings_register_btnAccept_responsive{
    display:none;
}

@media (max-width: 1000px){
    .main-pendings_registers_date, .main-pendings_titles_date{
        display:none;
    }
    .main-pendings_registers_shoeData, .main-pendings_titles_item{
        flex-basis: calc(40% - 3px);
        text-align: center;
    }
    .main-pendings_registers_btnAccept, .main-pendings_registers_btnDenied{
        display:none;
    }
    .main-pendings_register_btnDenied_responsive, .main-pendings_register_btnAccept_responsive,.main-pendings_titles_accept,.main-pendings_titles_denied{
        display:block;
        flex-basis: calc(4% - 3px);
    }
    .main-pendings_register_btnDenied_responsive, .main-pendings_register_btnAccept_responsive{
        padding:5px;
        border-radius: 100%;
        border: none;
        outline:none;
        color:white;
        font-size:17px;
        background-color: green;
    }
    .main-pendings_register_btnDenied_responsive{
        background-color: rgb(185, 0, 0);
    }

    .main-pendings_registers_userData, .main-pendings_titles_user{
        flex-basis: calc(17% - 3px)
    }
}

@media (max-width: 800px){
    .main-pendings_registers_shoeData h4{
        font-size:14px;
    }
    .main-pendings_registers_userSale h4{
        font-size:14px;
    }
}

/**=============FOOTER===============**/

.site-footer{
    background-color: #60CDD0;
    color:white;
    padding:30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/**===================SELL NOW==================**/

.input-search_sellNow{
    text-align: center;
    height: 50px;
    display:flex;
    justify-content: center;
    position:relative;
}

.input-search_sellNow > input{
    border:2px solid #FA6C2C;
    border-right: none;
    color: #004478;
    font-size:15px;
    padding:0 8px;
    border-radius: 8px 0 0 8px;
    max-width: 300px;
    width: 100%;
    outline:none;
    height: 100%;
}

.input-search_sellNow_icon{
    width:50px;
    height: 100%;
    background-color: #1573B9;
    color:white;
    display:inline-block;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.list_products{
    list-style: none;
    position:absolute;
    max-width:800px;
    width:100%;
    border:2px solid #1573B9;
    top:60px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.list_products_header, .detail_product{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    border-bottom:2px solid #1573B9
}

.list_products_header{
    background-color: gainsboro;
}

.list_products_header h3{
    text-transform: uppercase;
    color:#1573B9;
    font-size:16px;
}

.detail_product{
    background-color: #FA6C2C;
}

.detail_product h5{
    font-style: italic;
    font-size:15px;
}

.list_products_header h3, .detail_product h5, .detail_product div{
    flex-basis: calc(20% - 10px);
    text-align: center;
}

.list_products_header h3:first-child, .detail_product h5:first-child{
    flex-basis: calc(40% - 10px);
}

.detail_product input{
    display: block;
    max-width:100px;
    margin:0 auto;
    padding: 0 10px;
    height: 30px;
    background-color: #1573B9;
    border:2px solid white;
    color:white;
    outline:none;
    border-radius: 5px;
}

.buttons_product{
    padding:20px;
    background-color: gainsboro
}

.buttons_product button{
    margin:0 20px;
    padding:8px 30px;
    border-radius: 4px;
    font-size:17px;
    cursor: pointer;
    border:none;
    outline: none;
    color:white;
}

.buttons_product button:hover{
    opacity: 0.8;
}

.buttons_product button:first-child{
    background-color: green;
}

.buttons_product button:last-child{
    background-color: rgb(197, 0, 0);
}

.without_sell_now{
    text-align: center;
    margin-top:100px;
    font-size:22px;
    font-weight: 400;
    color:#004478;
}

.list_sell_now{
    list-style: none;
    width:90;
    margin:30px auto;
}

.list_sell_now li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 0;
    border-bottom:1px solid gainsboro;
}

.list_sell_now li:first-child h5{
    padding:10px 0;
    color:white;
    text-transform: uppercase;
    background-color: #1573B9;
}

.list_sell_now li h5{
    flex-basis: calc(20% - 2px);
    text-align: center;
}

.list_sell_now li div{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(20% - 2px);
}

.list_sell_now li div > *{
    font-size:25px;
    cursor: pointer;
    margin:0 10px;
}

.list_sell_now li div > *:first-child{
    color:#1573B9;
}

.list_sell_now li div > *:last-child{
    color: rgb(185, 0, 0);
}

.not_found{
    text-align: center;
    margin-top:32px;
    color:#FA6C2C;
    font-weight: bold;
}

/**====================LOCATIONS==================**/

.search_locations_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_locations_title > div{
    width: 350px;
}

.search_locations_title input{
    padding:10px;
    border:2px solid #FA6C2C;
    outline:none;
    border-radius: 24px;
    display: block;
    width: 100%;
    color: #1573B9;
}

.search_locations_title > div > div{
    position:absolute;
    right: 0;
    top:0;
    height: 100%;
    display: flex;
    align-items: center;
    padding:0 10px;
    color:#FA6C2C;
}

.list_locations{
    display:grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap:20px;
    margin: 40px 0;
}

.list_locations li{
    padding:24px;
    border-radius: 24px;
    box-shadow: 0 0 5px grey;
}

.list_locations li > div{
    margin:15px 0;
    display:flex;
    align-items: center;
}

.list_locations li > div p{
    margin-left:10px;
}

.list_locations li h4{
    color: #1573B9;
}

.item_latitude_long{
    justify-content: space-between;
    text-align: center;
    margin-top:20px;
}

.item_latitude_long > div{
    flex-basis: calc(50% - 5px) !important;
}

.item_latitude_long input{
    margin-top:10px;
    display: block;
    width: 100%;
    padding:7px;
    border:2px solid #1573B9;
    outline:none;
    color: #1573B9;
    font-weight: bold;
    border-radius: 8px;
}

.item_latitude_long p{
    margin-top:10px;
    margin-left: 0 !important;
}

.list_locations li button{
    display: block;
    margin:0 auto;
    width:100%;
    padding:12px 40px;
    background-color: #1573B9;
    color:white;
    text-transform: uppercase;
    border-radius: 8px;
    border:2px solid #1573B9;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top:10px;
}

.list_locations li button:hover{
    background-color: white;
    color: #1573B9;
}

.button_cancel_edit_location{
    background-color: rgb(255, 108, 108) !important;
    border:2px solid rgb(255, 108, 108) !important;
}

.button_cancel_edit_location:hover{
    background-color: white !important;
    color: rgb(255, 108, 108) !important;
}

/**=========================REQUEST BACK===================**/

.rb_title_filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px;
}

.rb_title_filters h2{
    margin-top:0
}

.rb_title_filters__filters input, .rb_title_filters__filters select{
    display: block;
    width:300px;
}

.rb_title_filters__filters input{
    padding:10px;
    border: 3px solid #FA6C2C;
    color:#004478;
    font-weight: bold;
    outline:none;
    border-radius: 24px;
}

.rb_title_filters__filters select{
    padding:10px;
    margin-top:10px;
    border:3px solid #004478;
    color:#FA6C2C;
    font-weight: bold;
    outline: none;
    border-radius: 24px;
}

.request_back_titles{
    display:flex;
    align-items: flex-end;
    padding-bottom:10px;
    border-bottom:3px solid #222;
}

.request_back_titles h4{
    width:100px;
    text-align: center;
    text-transform: uppercase;
    font-size:14px;
}

.request_back_titles h4:nth-child(2){
    width:350px;
}

.request_back_titles h4:nth-child(3){
    width:200px;
}


.request_back_titles h4:nth-child(7){
    width:350px;
}

.item_request_back{
    display:flex;
    align-items: center;
    padding:10px 0;
    border-bottom: 1px solid gainsboro;
}

.item_request_back > *{
    width:100px;
    text-align: center;
}

.item_request_back > *:nth-child(2){
    width:350px;
    text-align: left;
}

.item_request_back > *:nth-child(3){
    width:200px;
}

.item_request_back > *:nth-child(7){
    width:350px;
    text-align: left;
}

.sku_vendor{
    display: flex;
    margin:10px 0;
    align-items: center;
}

.sku_vendor p{
    margin-right: 20px;
    color:grey;
}

.edit_item_request{
    color: #004478;
    text-align: center;
    font-size:20px;
    margin-left:10px;
    cursor: pointer;
}

.edit_transport textarea{
    width:100%;
    resize:none;
    outline:none;
    border:2px solid #FA6C2C;
    border-radius: 4px;
    margin-right: 10px;
    padding:10px;
    height: 100px;
    color: #004478;
    font-size:14px;
    font-weight: bold;
}

.edit_transport > div{
    display: flex;
    justify-content: space-between;
}

.edit_transport button:first-child{
    width: 100%;
    border:2px solid #004478;
    outline:none;
    color:white;
    text-transform: uppercase;
    background-color: #004478;
    padding:10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.edit_transport button:first-child:hover{
    background-color: inherit;
    color: #004478
}

.edit_transport button:last-child{
    background-color: rgb(197, 0, 0);
    color:white;
    margin-left: 5px;
    padding:0 20px;
    border-radius: 4px;
    border:none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.edit_shipping input{
    width: 100%;
    padding:10px;
    border:2px solid #FA6C2C;
    border-radius: 4px;
    outline: none;
    color: #004478;
    font-size:14px;
    font-weight: bold;
}

.edit_shipping > div{
    display: block;
}

.edit_shipping > div button{
    width: 100%;
    margin:0;
    margin-left: 0 !important;
    margin-top:5px;
}

.edit_shipping > div button:last-child{
    padding:7px 0;
}

.tracking{
    display: flex;
    align-items: center;
    justify-content: center;
}